.jojo-navbar {
    position: absolute !important;
    width: 100%;
    z-index: 10;
    padding-top: 10px;

    .small-screen-login {
        display: none;
    }

    .big-screen-login {
        margin-left: 15px;

    }

    //below 992px
    @media (max-width: 991px) {
        #basic-navbar-nav {
            background-color: rgba(0, 0, 0, 0.837);
            justify-content: center;
        }

        .navbar-nav {
            margin-left: 0 !important;
        }


        .navbar>.container {
            justify-content: normal;
        }

        .small-screen-login {
            display: block;
            margin-left: auto;
            margin-right: 10px;
        }

        .big-screen-login {
            display: none;
        }
    }


    .background-grey {
        color: white !important;
        margin-right: 20px;
        height: fit-content;
        text-align: center;
    }

    .background-grey:hover {
        color: white;
    }

    .nav-text {
        white-space: nowrap;

    }

    .navbar-items {
        display: flex;
        justify-content: space-between;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        align-items: center;
    }

    .button-login {
        font-weight: 700;
        background-color: #D2F34C;
        padding: 10px 15px;
        border-radius: 6px;
        border: none;
        box-shadow: 5px 5px 2px #000000;

    }

    .button-login:hover {
        background-color: #d2f34cde;
    }

    .badge {
        position: relative;
        top: -10px;
        left: -3px;
        border-radius: 100%;
        padding: 4px 5px 3px 5px;
        background: red;
        color: white;
        font-size: 11px;
    }

    .notif-badge {
        position: relative;
        border-radius: 100%;
        padding: 5px 8px;
        background: red;
        color: white;
        font-size: 11px;
        margin-left: 10px;
    }

    .center-jojo {
        cursor: pointer;
        display: flex;
        align-items: center;



        .jojo-text {
            font-family: 'Manrope';
            font-weight: 600;
            margin-left: 10px;

            color: white;
        }
    }

    .dropdown-toggle::after {
        color: white !important;
    }


    .background-grey:hover {
        background-color: rgba(180, 190, 203, 0.4);
        border-radius: 6px;
        transition: 0.6s;
    }

    .pad-right-5 {
        padding-right: 5px;
    }

    .navbar {
        font-family: Montserrat, sans-serif;
        font-size: 14px;


    }
}